section {
  padding-top: 5rem;
}

.intro {
  padding-top: 18%;
  text-align: center;
  background-color: #c7ccc5;
}

.info-seminar {
  background-color: #025875;
}

.info-seminar h2 {
  color: white;
  opacity: 0.9;
}

.daftar {
  color: white;
  background-color: #6683a5;
  margin-top: auto;
}

footer {
  background-color: #2f4f4f;
}
